<%- include('partials/header.ejs') %>



<div class="container text-center mt-5 pt-5">
    <h1>Oops! 404 Not Found</h1>
    <a href="/items" class="btn btn-info fs-3">
        See Inventory Page Here 
    </a>
</div>



<%- include('partials/footer.ejs') %>