<%- include('partials/header.ejs') %>



<div class="container text-center mt-5 pt-5">
    <h1>Oops! you are looking for the items page</h1>
    <a href="/items">
        <h1 class="mt-5 pt-5">See Items Page Here</h1>
    </a>
</div>



<%- include('partials/footer.ejs') %>