* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1
}

footer {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.srch {
    width: 30%;
}

.srch-frm {
    display: flex;
    gap: 10px;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}